<app-header></app-header>
<ngx-spinner
  size="medium"
  type="ball-beat"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="chat-container" >
  <div class="button-container">
    <button (click)="startNewChat()" style="margin-right: 50px" mat-flat-button class="left-button">Start New Chat</button>
    <header style="font-weight: 600; vertical-align: center; padding-top: 5px">{{cookieService.get('file_name')}}</header>
    <button class="right-button" mat-flat-button style="margin-left: 50px" (click)="downloadConversation()">Download Conversation</button>
  </div>
  <div class="input-container" style="margin-top: 20px; height: 69vh; border-radius: 10px">
    <div class="messages" style="overflow: auto; padding-right: 25px; padding-left: 25px; padding-top: 25px" #messagesContainer>
      <ng-container *ngFor="let message of messages">
        <div class="message sent">
          <span>{{ message[0] }}</span>
        </div>
        <div class="message received">
          <span>{{ message[1] }}</span>
        </div>
      </ng-container>
    </div>
    <div *ngIf="true" class="loading-line"></div> <!-- Loading line -->
  </div>
  <div class="input-container" style="margin-top: 20px; width: 50%; height: 7vh">
    <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
